.Topbar{
  width: 100%;
  background-color: #282c34;
  padding: 24px 48px 12px;
  text-align: center;
  position: fixed;
   top: 0;
   left: 0;
}

.Topbar >img{
  width: 100px;
}

.MainContainer{
  padding: 4% 12%;
  box-sizing: border-box;

  width: 100%;
  display: flex;
  align-items: center;
}
.ProductPreview{
  width: 50%;
}
.ProductPreview > img {
  width: 100%;
}
.ProductData{
  width: 50%;
}
.ProductTitle{
  font-family: 'Source Sans Pro',sans-serif;
}